html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
opt,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
*,
:after,
:before {
  box-sizing: border-box;
}
body {
  max-width: 1980px;
  width: 100%;
  margin: auto;
  font-family: 'Merriweather', serif;
}
html {
  max-width: 1980px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}
p {
  line-height: 1.5;
}
h1,
h2 {
  font-size: 4em;
  font-family: merriweather;
}
@media (max-width: 640px) {
  h1,
  h2 {
    font-size: 9vw;
  }
}
ul {
  list-style: none;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
@supports (-ms-ime-align: auto) {
  ul {
    margin-left: -40px;
  }
}
figure {
  display: block;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  margin-left: 0;
}
fieldset {
  padding: 0;
  border: none;
}
progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}
input:disabled {
  cursor: not-allowed;
}
.button {
  max-width: 320px;
  width: 100%;
  height: 2em;
  display: block;
  padding: 0.5em 2em;
  margin: 0.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1;
  cursor: pointer;
  border: none;
  border-radius: 18px;
  transition: 0.35s ease 0s;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.button.-yellow {
  background-color: hsl(29, 40%, 54%);
  color: hsl(0, 0%, 100%);
}
.button.-yellow:hover {
  background-color: hsl(29, 40%, 29%);
  color: hsl(0, 0%, 100%);
}
.button.-darkgreen {
  background-color: hsl(172, 25%, 12%);
  color: hsl(0, 0%, 100%);
}
.button.-darkgreen:hover {
  background-color: hsl(172, 25%, 7%);
  color: hsl(0, 0%, 100%);
}
.icon {
  width: 1.5em;
  height: 1.5em;
}
.icon.-xs {
  width: 0.375em;
  height: 0.375em;
}
.icon.-s {
  width: 0.75em;
  height: 0.75em;
}
.icon.-m {
  width: 1.5em;
  height: 1.5em;
}
.icon.-l {
  width: 3em;
  height: 3em;
}
.icon.-xl {
  width: 6em;
  height: 6em;
}
.icon.-rounded {
  border-radius: 25%;
}
.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.link.-underline {
  text-decoration: underline;
}
.link.-white {
  color: hsl(0, 0%, 100%);
}
.link.-white:hover {
  color: hsl(0, 0%, 100%);
}
.title {
  padding-bottom: 5%;
}
.title.-nopaddingbottom {
  padding-bottom: 0;
}
.title.-sub {
  padding-bottom: 2.5%;
}
.card-container.-value {
  max-width: 100%;
  width: 300px;
  margin: 1em;
}
.card-container.-value > h3:after {
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  width: 2em;
  height: 1px;
  content: "";
  display: flex;
  justify-content: center;
  background: hsl(0, 0%, 100%);
}
.card-container.-value p {
  height: 100px;
}
.card-container.-contact,
.card-container.-team {
  max-width: 100%;
  width: 200px;
  height: 200px;
  margin: 3.5em;
}
.card-container.-contact h4,
.card-container.-team h4 {
  text-transform: uppercase;
}
.card-container.-contact .title,
.card-container.-team .title {
  padding-bottom: 0;
}
.card-container.-contact .link,
.card-container.-team .link {
  font-size: 1em;
}
.card-container.-contact {
  margin: 3.5em 3.5em 0;
}
.card-container.-contact .title {
  padding-bottom: 0;
}
.card-container.-contact .links-container {
  display: none;
}
.card-container.-contact:hover {
  transition-duration: 1.5s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.card-container.-contact:hover .title {
  display: none;
}
.card-container.-contact:hover .links-container {
  display: flex;
  flex-flow: column;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.tothetop {
  width: 1em;
  height: 1em;
  z-index: 998;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  padding: 1.5em;
}
.tothetop:hover {
  opacity: 1;
  transition-duration: 2s;
}
.tothetop > a {
  font-size: 2em;
}
.hero-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../img/background/header-blured.png") no-repeat, center, top;
  background-size: 100% 100%;
}
.hero-container .content-container {
  width: 95%;
  height: 100vh;
  overflow: hidden;
}
.hero-container .content-container .illustration {
  width: 100%;
  height: 100vh;
  background: url("../img/background/header.png") no-repeat, center;
  background-size: cover;
  margin-top: 1.5em;
  border-radius: 18px;
}
.hero-container .content-container .illustration > h1 {
  padding: 5em 2em;
}
/* https://codepen.io/GeorgePark/pen/ZoaRrV */
.shape-inner,
.shape-outer {
  width: 300px;
  height: 300px;
}
.shape-inner .-rhombus,
.shape-outer .-rhombus {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.shape-outer {
  display: flex;
  flex-shrink: 0;
}
.shape-inner {
  background-size: cover;
  margin: auto;
}
.shape-inner .function,
.shape-inner .link,
.shape-inner .title {
  display: none;
}
.shape-inner:hover {
  background: hsl(29, 40%, 54%) !important;
}
.shape-inner:hover .function,
.shape-inner:hover .link,
.shape-inner:hover .title {
  display: flex;
}
.wrapper-layout {
  margin: auto;
}
.footer-container .copyright-container {
  width: 100%;
  padding: 2.5em;
  font-size: 0.75em;
  text-align: center;
  text-decoration: none;
}
.footer-container .copyright-container .content-container {
  max-width: 1280px;
  margin: auto;
}
.footer-container .copyright-container .content-subcontainer {
  margin-top: 1em;
}
.footer-container .copyright-container .content-subcontainer .icon-container {
  margin: 0.5em;
}
.footer-subcontainer {
  max-width: 1280px;
  padding: 2.5em;
}
.footer-subcontainer .col-container {
  padding: 0.5em;
}
.footer-subcontainer .col-container .title {
  font-size: 1.5em;
}
.footer-subcontainer .col-container.-about {
  width: 100%;
  max-width: 640px;
}
@media (max-width: 980px) {
  .footer-subcontainer .col-container.-about {
    width: 100%;
    max-width: 100%;
  }
}
.footer-subcontainer .col-container.-about .logo {
  width: 150px;
}
@media (max-width: 280px) {
  .footer-subcontainer .col-container.-about .logo {
    display: none;
  }
}
.footer-subcontainer .col-container.-about .about {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: justify;
  font-size: 0.75em;
}
.footer-subcontainer .col-container.-plan {
  max-width: 160px;
}
.footer-subcontainer .col-container.-plan .footer-list {
  padding-left: 0;
  line-height: 2;
}
.footer-subcontainer .col-container.-plan .footer-list .link {
  font-size: 0.75em;
}
.footer-subcontainer .col-container.-newsletter {
  width: 100%;
  max-width: 320px;
}
.navbar {
  font-weight: 700;
  padding: 2em 4.5%;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  max-width: 1980px;
  margin: auto;
  background: linear-gradient(to bottom, hsl(0, 0%, 0%), transparent);
}
.navbar-brand .logo {
  width: 75px;
  display: flex;
}
.navbar-brand .logo.-white {
  display: none;
}
.navbar-container {
  display: flex;
}
.navbar-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 960px) {
  .navbar-listelement {
    display: none;
  }
}
.navbar-listelement + .navbar-listelement {
  margin-left: 2em;
}
.navbar-burger {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 961px) {
  .navbar-burger {
    display: none;
  }
}
.navbar-burger .burgerbutton.-closenavbar {
  display: none;
}
.navbar .smnavbar-container {
  display: none;
}
@media (max-width: 960px) {
  .navbar.-opensmmenu {
    position: fixed;
    z-index: 999;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    background: hsl(0, 0%, 0%);
  }
  .navbar.-opensmmenu .navbar-brand {
    width: 100%;
  }
  .navbar.-opensmmenu .navbar-brand .logo {
    display: flex;
  }
  .navbar.-opensmmenu .navbar-list {
    display: none;
  }
  .navbar.-opensmmenu .navbar-burger .burgerbutton.-closenavbar {
    display: flex;
  }
  .navbar.-opensmmenu .navbar-burger .burgerbutton.-opennavbar {
    display: none;
  }
  .navbar.-opensmmenu .smnavbar-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
  }
  .navbar.-opensmmenu .smnavbar-container .button,
  .navbar.-opensmmenu .smnavbar-container .link {
    line-height: 1.5em;
    font-size: 1.5em;
    font-weight: bold;
  }
}
.section-container {
  padding-top: 5em;
  padding-bottom: 5em;
}
.section-container.-project .illustration-container {
  width: 50%;
  -webkit-transform: translate(0px, 20px);
          transform: translate(0px, 20px);
}
@media (min-width: 960px) {
  .section-container.-project .illustration-container {
    -webkit-transform: scale(1);
            transform: scale(1);
    transition-duration: 5s;
  }
  .section-container.-project .illustration-container:hover {
    z-index: 100;
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
    transition-duration: 5s;
  }
}
.section-container.-project .illustration {
  width: 100%;
}
.section-container.-project .text-container {
  max-width: 45%;
  margin-top: 2em;
  z-index: 101;
}
.section-container.-project .text-container > h2 {
  -webkit-transform: translateX(-2em);
          transform: translateX(-2em);
}
@media (max-width: 960px) {
  .section-container.-project .text-container > h2 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.section-container.-project .text-container > p {
  max-width: 640px;
  margin-top: 2em;
  margin-left: 2em;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.section-container.-project .text-container > hr {
  width: 100px;
  height: 1px;
  border-style: inherit;
}
@media (max-width: 960px) {
  .section-container.-project .illustration-container,
  .section-container.-project .text-container {
    max-width: 100%;
    width: 100%;
  }
  .section-container.-project .text-container {
    padding: 1em;
  }
}
.section-container.-values .values-container {
  max-width: 1024px;
}
.section-container.-values .icon {
  margin-bottom: 1em;
}
.section-container.-coop {
  padding-left: 5em;
  padding-right: 5em;
}
.section-container.-coop .text-container {
  max-width: 600px;
  width: 100%;
}
.section-container.-coop .text-container .link {
  margin-top: 1em;
}
.section-container.-coop .illustration-container {
  width: 100%;
}
@media (max-width: 960px) {
  .section-container.-coop .illustration-container {
    display: none;
  }
}
@media (min-width: 1980px) {
  .section-container.-coop .illustration-container {
    display: none;
  }
}
.section-container.-coop .illustration {
  width: 25%;
  position: absolute;
  right: 0;
}
.section-container.-coop .bulletpoint-list {
  margin-left: 2em;
  line-height: 2em;
}
.section-container.-coop .bulletpoint-list > ul {
  margin-bottom: 2em;
}
.section-container.-coop .bulletpoint-list .bulletpoint-listelement:before {
  content: '\25C8';
  font-size: 1em;
  color: hsl(172, 25%, 12%);
  margin-right: 2em;
}
.section-container.-coop .buttons-container {
  max-width: 640px;
  width: 100%;
}
.section-container.-coop .link {
  font-size: 0.75em;
  margin-left: 1em;
}
.section-container.-team .teammembers-container {
  max-width: 1024px;
}
.section-container.-contact {
  padding-top: 0;
  padding-bottom: 0;
}
._hide.-always {
  display: none;
}
@media (max-width: 160px) {
  ._hide.-lessthan.-xxs {
    display: none;
  }
}
@media (max-width: 320px) {
  ._hide.-lessthan.-xs {
    display: none;
  }
}
@media (max-width: 640px) {
  ._hide.-lessthan.-s {
    display: none;
  }
}
@media (max-width: 960px) {
  ._hide.-lessthan.-m {
    display: none;
  }
}
@media (max-width: 1024px) {
  ._hide.-lessthan.-l {
    display: none;
  }
}
@media (max-width: 1980px) {
  ._hide.-lessthan.-xl {
    display: none;
  }
}
@media (min-width: 161px) {
  ._hide.-morethan.-xxs {
    display: none;
  }
}
@media (min-width: 321px) {
  ._hide.-morethan.-xs {
    display: none;
  }
}
@media (min-width: 641px) {
  ._hide.-morethan.-s {
    display: none;
  }
}
@media (min-width: 961px) {
  ._hide.-morethan.-m {
    display: none;
  }
}
@media (min-width: 1025px) {
  ._hide.-morethan.-l {
    display: none;
  }
}
@media (min-width: 1981px) {
  ._hide.-morethan.-xl {
    display: none;
  }
}
._display.-block {
  display: block;
}
._display.-grid {
  display: inline-grid;
}
._display.-table {
  display: inline-table;
}
._display.-none {
  display: none;
}
._flex {
  display: flex;
  flex-direction: row;
}
._flex.-wrap {
  flex-wrap: wrap;
}
._flex.-column {
  flex-direction: column;
}
._flex.-start {
  justify-content: flex-start;
}
._flex.-end {
  justify-content: flex-end;
}
._flex.-spacebetween {
  justify-content: space-between;
}
._flex.-spacearound {
  justify-content: space-around;
}
._flex.-center.-h {
  justify-content: center;
}
._flex.-center.-v {
  align-items: center;
}
._text.-center {
  text-align: center;
}
._text.-right {
  text-align: right;
}
._text.-left {
  text-align: left;
}
._text.-justify {
  text-align: justify;
}
._text.-shadow {
  text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.75);
}
._text.-unbold {
  font-weight: 400;
}
._text.-bold {
  font-weight: 700;
}
._color.-white {
  color: hsl(0, 0%, 100%);
}
._color.-brown {
  color: hsl(29, 83%, 19%);
}
._color.-green {
  color: hsl(172, 25%, 27%);
}
._color.-bgwhite {
  background-color: hsl(0, 0%, 100%);
}
._color.-bgtransparent {
  background-color: transparent;
}
._color.-bgdarkgreen {
  background-color: hsl(172, 25%, 12%);
}
._color.-bgdarkergreen {
  background-color: hsl(172, 25%, 7%);
}
._color.-bgdarkestgreen {
  background-color: hsl(0, 0%, 0%);
}
._color.-bgyellow {
  background-color: hsl(29, 40%, 54%);
}
._color.-bgbrown {
  background-color: hsl(29, 83%, 19%);
}
._margin.-auto {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 320px) {
  ._margin.-auto.-lessthan.-xss {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 320px) {
  ._margin.-auto.-lessthan.-xs {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 640px) {
  ._margin.-auto.-lessthan.-s {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 960px) {
  ._margin.-auto.-lessthan.-m {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  ._margin.-auto.-lessthan.-l {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  ._margin.-auto.-lessthan.-xl {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  ._margin.-auto.-lessthan.-xxl {
    margin-left: 0;
    margin-right: 0;
  }
}
._margin.-none {
  margin: 0;
}
._unborder {
  border: none;
}
._unborderradius {
  border-radius: 0;
}
._width.-maxwidth100px {
  max-width: 100px;
  width: 100%;
}
._width.-maxwidth200px {
  max-width: 200px;
  width: 100%;
}
._width.-maxwidth300px {
  max-width: 300px;
  width: 100%;
}
._width.-maxwidth100percent {
  max-width: 100%;
}
._width.-width100percent {
  width: 100%;
}
