// buttons

.button {
    height: 2em;
    display: block;
    padding: .5em 2em;
    margin: .5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1;
    cursor: pointer;
    border: none;
    border-radius: 18px;
    transition: .35s ease 0s;

    &.-yellow {
        background-color: @yellow;
        color: @white;

        &:hover {
            background-color: @darkyellow;
            color: @white;
        }
    }
}
